body{
    margin: 0;
}

.grid-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}


.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    border: 1px solid black;
}

.grid div {
    height: 40px;
    width: 40px;
}

.checked {
    background-color: red;
}

/* .bomb {
    /* background-color: orange; */
/* }  */